@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-height: 50px;
  --navbar-height: 60px;
  --page-height: calc(100dvh - var(--footer-height) - var(--navbar-height));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: calc(100dvh - var(--footer-height));
  width: 100%;
}

footer {
  height: var(--footer-height);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: var(--navbar-height);
  width: 100%;
}

main {
  min-height: var(--page-height);
}

.flex-center {
  justify-content: center;
  align-items: center;
}
